# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Docker
*.pid
.dockerignore

# Build outputs
dist/
build/
coverage/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db


# Prometheus data volume
# This holds time-series metrics collected by Prometheus
prometheus_data/

# Grafana data volume
# This holds user sessions, dashboard configs, and settings
grafana_data/ 